.resultsDiv{
    width: 85%;
    margin-left: 7.5%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.mutationClick{
    color: blue;
    font-weight: bold;
}
.deleteClick{
    font-weight: bold;
    color: red;
}
.mutationClick:hover{
    cursor: pointer;
    color: red;
}